*{
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.inputFile{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
 
}
button{
  padding: 20px 25px;
  background: cornflowerblue;
  color: white;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px
  
}
.bar{
  height: 25px;
  width: 200px;
  background: darkgrey;
}
.progress{
  height: 100%;
  width: 5%;
  background: mediumspringgreen;
}
.uploadParcentage{
  font-size: 25px;
}

.img{
  width: 300px;
  
  object-fit: cover;
  display: none;
  border: 5px, solid cornflowerblue;
}
.imageUploaded{
  margin-top: 10px;
}